@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Con esto al navegar o al presionar un boton que haga moverse la ventan del navegador lo hará más smooth */
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4 ,h4 ,h5 ,h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.flex{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

/* BARRA DE NAVEGACIÓN */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__link--list {
    display: flex;
}

.nav__link--anchor{
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor-primary{
    color: white;
    background-color: #2a2fb7;
    border-radius: 50px;
    padding: 8px 20px;
    transition: all 100ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #5d3eff;
}

.personal__logo{
    font-size: 24px;
    color: #2a2fb7;
    margin: 0 12px;
    font-weight: bold;
}

/* SECCION ABOUT-ME*/

#about-me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 28px;
}

.about-me__picture{
    width: 100%;

    /* Mejorando la foto */
    transform: scale(1.4);
    padding: 12px 0 0 2px;

}

.text--blue{
    color: #2a2fb7;
}

.about-me__info--title{
    margin-bottom: 16px;
}

.about-me__info--para{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 28px;
}

.about-me__link{
    font-size: 20px;
    color: #242424;
    padding: 0 16px 0 16px;
}

.about-me__info{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.about-me__img--container{
    flex:1;
    display: flex;
    align-items: center;
}

.about-me__img{
    width: 100%;
    padding: 24px;
}

/* SECCIÓN LANGUAGES */

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 20px;
}

.language__list{
    display: flex;
    flex-wrap: wrap;
}

.language{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.language__img--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 16px;
}

.language__img{
    width: 100%;
    max-width: 100px;
}

.language__img{
    transition: all 300ms ease;
}

.language:hover .language__img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__name{
    font-size: 20px;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: all 300ms ease;
}

.language:hover .language__name{
    transform: scale(1);
    opacity: 1;
}

/* Sección PROJECTS */

.project{
    margin-bottom: 135px;
}

.project:last-child{
    margin-bottom: 40px;
}

.project__img{
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.45);
    display: flex;
    position: relative;
}

.project:hover .project__wrapper::before {
    opacity: 0.7;
    transform: translateY(0);
}

.project__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    z-index: 2;
    transform: translateY(600px);
}



.project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}

.project_list{
    padding-top: 40px;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description{
    position: absolute;
    /*Con top: 50% y transform: translateY(-50%) logramos que quede en el centro */
    top: 50%;
    left: 90px;
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 300ms, transform 450ms;
}



.project__description--title,
.project__description--subtitle,
.project__description--para,
.project__description--link { 
    color: #FFF;
    text-align: left;
}

.project__description--title{
    font-size: 40px;
}

.project__description--para{
    margin: 16px 0;
}

.project__description--link {
    margin-right: 16px;
    font-size: 20px;
}

/* SECCIÓN FOOTEr */

footer{
    background-color: #242424;
}

.footer__logo{
    margin-bottom: 20px;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}

.footer__logo--img{
    width: 70px;
    height: 70px;
}

.footer__copyright,
.footer__social--link,
.footer__logo--popper {
    color: #fff;
}


.footer__social--list{
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.footer__logo--popper{
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor{
    position: relative;
}

.footer__anchor:hover .footer__logo--popper{
    opacity: 1;
    transform: translateX(60px);
}